html, body {
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
}

body {
    background: url("confetti.jpg") center center / cover no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-div {
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: add shadow for a nicer look */
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.button {
    font-size: 2em;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
}

.reset-btn{
    border: none;
    display: flex;
    justify-content: flex-end;
    background: azure;
    padding-top: 4em;
}

.reset-btn img{
width: 30px;
height: auto;
}

.button-div {
    padding-top: 2em;
    display: flex;
}


#increment-btn {
    background: darkgreen;
}

.decrement-btn {
    background: darkred;
}

/* Media queries for mobile responsiveness */
@media (max-width: 700px) {
    h1 {
        font-size: 3em !important; /* Adjust font size for smaller screens */
    }

    .button {
        font-size: 3em !important; /* Adjust font size for smaller screens */
        padding: 10px 20px !important; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 486px) {
    .main-div {
        width: auto;
        max-width: 75%; /* Set a smaller maximum width for smaller screens */
    }
}